<% @posts.each do |post| %>
  <div class="post <%= post.id %>">
    <header>
      <h2>
        <a href="/<%= post.id %>"><%= post.title %></a>
        <a href="/<%= post.id %>"></a>
      </h2>
      <% if post.date_time %>
        <time datetime="<%= post.date_time.to_s %>">
          <a href="/<%= post.id %>">
            <%= post.date_time.to_s %>
          </a>
        </time>
      <% end %>
    </header>

    <div class="body">
      <%== post.body %>
    </div>
  </div>
<% end %>

<% content_for :side_bar do %>
  sidebar
<% end %>

<% content_for :footer do %>
  <div class="pagination">
    <div class="wrap">
      <% if paginate_next?(@posts) || paginate_previous? %>
        <% if paginate_previous? %>
          <a class="button" href="<%= paginate_previous_url %>">
            <i class="fa fa-long-arrow-left"></i>
            Previous
          </a>
        <% end %>

        <% if paginate_next?(@posts) %>
          <a class="button" href="<%= paginate_next_url %>">
            Next
            <i class="fa fa-long-arrow-right"></i>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
