<% content_for :title do %><%= @post.title %><% end %>

<div class="post <%= @post.id %>">

  <header>
    <h2> <a href="/<%= @post.id %>"><%= @post.title %></a> </h2>
    <a href="/<%= @post.id %>"> <%= @post.date_time %> </a>
    <h3> by <%= post.author %> </h3>
  </header>

  <div class="body">
    <%== @post.body %>
  </div>
</div>
