<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'layout.css' %>">

  <link rel="alternate" type="application/atom+xml" href="http://blog.io/feed" />

  <meta name="referrer" content="always"/>
  <meta name="description" content="Blog">

  <meta property="og:site_name" content="Blog" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= url %>" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%== yield_content :head %>
</head>
<body>

    <div class="grid-wrapper">
      
      <div class="grid-header">  
        <h1>
          <a class="blog" href="/">
            Tales From the Board Gaming Den
          </a>
        </h1>
      </div>

      <div class="grid-left">
        <article class="something">
          <%== yield_content :side_bar %>
        </article>
      </div>

      <div class="grid-right">
        <article class="main wrap">
          <%== yield %>
        </article>
      </div>

      <div class="grid-footer">  
        <h1>
          I'm the footer!
        </h1>
      </div>
    </div>

  </body>
</html>
